html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    
    background: lightgray;
    background: linear-gradient(45deg, white 0%, #ececec 100%);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.header {
    padding: .5rem;
    color: rgb(0, 0, 120);
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}
.title {
    padding-bottom: 0.25rem;
    color: rgb(0,0,120);
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}
.subtitle {
    color: rgb(0,0,120);
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    margin-bottom: 2rem;
}
.footer {
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 42);
  bottom: 0;
  color: #c2c2c2;
  display: flex;
  font-size: 12px;
  font-family: 'Brush Script MT', cursive;
  height: 50px;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}
.constrain-width {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  }
.square {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background: #30302e;
    border-radius: 2px;
    overflow: hidden;
  }
  .grid-container {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    padding: 0.2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 14% 11% 27% 19% 21% 5.8%;
    grid-template-rows: 1% 12% 14% 20% 14% 14% 17% 4.8%;
    grid-gap: 0.2rem;
  }
  .grid-item {
    color: #000;
    background-color: #fff;
    text-align: center;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-item span {
    display: none;
  }
  .grid-item:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    background-color: #c6c7c2;
  }
  .grid-item:nth-child(2) {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    background-color: #9c9e99;
  }
  .grid-item:nth-child(3) {
    grid-column: 5 / 7;
    grid-row: 1 / 3;
    background-color: #b3b4ae;
  }
  .grid-item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    background-color: #c6c6c4;
  }
  .grid-item:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #19231b;
  }
  .grid-item:nth-child(6) {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    background-color: #233446;
  }
  .grid-item:nth-child(7) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background-color: #a3a4a6;
  }
  .grid-item:nth-child(8) {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    background-color: #c1360f;
  }
  .grid-item:nth-child(9) {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    background-color: #172119;
  }
  .grid-item:nth-child(10) {
    grid-column: 6 / 7;
    grid-row: 3 / 4;
    background-color: #233444;
  }
  .grid-item:nth-child(11) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: #1f2521;
  }
  .grid-item:nth-child(12) {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    background-color: #cab303;
  }
  .grid-item:nth-child(13) {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
    background-color: #2a3c52;
  }
  .grid-item:nth-child(14) {
    grid-column: 5 / 6;
    grid-row: 4 / 6;
    background-color: #cd3d19;
  }
  .grid-item:nth-child(15) {
    grid-column: 6 / 7;
    grid-row: 4 / 7;
    background-color: #858681;
  }
  .grid-item:nth-child(16) {
    grid-column: 1 / 2;
    grid-row: 5 / 8;
    background-color: #9a9ea1;
  }
  .grid-item:nth-child(17) {
    grid-column: 2 / 3;
    grid-row: 5 / 8;
    background-color: #a2a6a9;
  }
  .grid-item:nth-child(18) {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    background-color: #cfb904;
  }
  .grid-item:nth-child(19) {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    background-color: #d74b16;
  }
  .grid-item:nth-child(20) {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
    background-color: #babcb9;
  }
  .grid-item:nth-child(21) {
    grid-column: 5 / 6;
    grid-row: 6 / 7;
    background-color: #c6b100;
  }
  .grid-item:nth-child(22) {
    grid-column: 3 / 4;
    grid-row: 7 / 8;
    background-color: #0a1109;
  }
  .grid-item:nth-child(23) {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
    background-color: #949899;
  }
  .grid-item:nth-child(24) {
    grid-column: 5 / 6;
    grid-row: 7 / 8;
    background-color: #1d2e3e;
  }
  .grid-item:nth-child(25) {
    grid-column: 6 / 7;
    grid-row: 7 / 9;
    background-color: #bf3c2a;
  }
  .grid-item:nth-child(26) {
    grid-column: 1 / 3;
    grid-row: 8 / 9;
    background-color: #bea902;
  }
  .grid-item:nth-child(27) {
    grid-column: 3 / 5;
    grid-row: 8 / 9;
    background-color: #b7b9b6;
  }
  .grid-item:nth-child(28) {
    grid-column: 5 / 6;
    grid-row: 8 / 9;
    background-color: #111b13;
  }
  @media screen and (max-width: 725px) {
  .footer {
      font-size: 8px;
  }
}
  @media screen and (max-width: 550px) {
      .header{
          font-size: 12px;
      }
      .title{
          font-size:12px;
      }
      .subtitle{
        font-size: 12px      
    }
    .footer {
        font-size: 8px;
    }
  }