html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    
    background: lightgray;
    background: linear-gradient(45deg, white 0%, #ececec 100%);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.header {
    padding: 2px;
    color: rgb(0, 0, 120);
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}
.title {
    padding: 1px;
    color: rgb(0,0,120);
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}
.subtitle {
    color: rgb(0,0,120);
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}
.form {
    text-align: center;
}
    .form label{
        font-family: 'Brush Script MT', cursive;
        color: rgb(0,0,120);
    }
    .form input[type=text] {
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        width: 160px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    .form input[type=text]:focus {
        width: 25%;
    }
    .form button{
        background-color: rgb(69, 69, 195);
        border-width: thick solid;
        border-radius: 50%;
        color: white;
        font-weight: semibold;
        font-family: 'Brush Script MT', cursive;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100px;
    }
    .form button:hover{
        background-color:#04AA6D;
        color: white;
    }
.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding-top: 5x;
}
    .reset button {
        background-color: rgb(99, 61, 134);
        border-width: thick solid;
        border-radius: 50%;
        color: white;
        font-weight: semibold;
        font-family: 'Brush Script MT', cursive;
        margin: 6px;
        border: none;
        cursor: pointer;   
    }
    .reset button:hover{
        background-color:#aa0407;
        color: white;
    }
.table {
    font-family: 'Brush Script MT', cursive;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding: 25px; */
    margin: 20px;
    display:flex;
    border-collapse: collapse;
}
    .table tr:nth-child(even){
        background-color: #f2f2f2;
    }
    .table tr:hover {
        background-color: #ddd;
    }
    .table td, .table th {
        border: 1px solid #ddd;
        padding: 10px;
    }
    .table th{
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #04AA6D;
        color:white;
    }
    .table td{
        align-items: center;
        justify-content: center;
        
    }
.footer {
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 42);
    bottom: 0;
    color: #c2c2c2;
    display: flex;
    font-size: 12px;
    font-family: 'Brush Script MT', cursive;
    height: 50px;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
  }